
	<div class="container">
		<div class="row justify-content-center">
			<div class="form align-self-center">
				<div class="nav-title">Главная</div><br>
				<p class="paragraph">Войдите, чтобы получить доступ к сайту</p>
				<div style="display: grid;grid-template-columns: repeat(2,1fr);grid-gap: 1em;">
					<form action="/SignIn" method="get">
					<button id="signIn" class="ui-button main w-100"><span class="xs-title">Sign In</span></button></form>
					<form action="/SignUp" method="get">
					<button id="signUp "class="ui-button1 main1 w-100"><span class="xs-title">Sign Up</span></button></form>
				</div>
				
			</div>
		</div>
	</div>	
