<!DOCTYPE html>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="form align-self-center">
				<div class="nav-title">Профиль</div><br>
				<p class="paragraph">Привет, {{username}}!</p>
				<p class="paragraph">Ты залогинен на сайте</p>
				<div style="display: grid;grid-template-columns: repeat(2,1fr);grid-gap: 1em;">
					<button id="signIn" class="ui-button main" onClick='location.href="/out"'><span class="xs-title">Выйти</span></button>
				</div>
				
			</div>
		</div>
	</div>	